.App {
  text-align: center;
}

.invert{
    -webkit-filter: invert(100%);
    width: 15%;
    margin: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-Upper-Left {
  font-size: large;
  text-align: center;
  width: 25%;
  position: absolute;
  left: 10px;
}

.App.Middle {
  width: 60%;
  text-align: center;
  position: absolute;
}

.App-Upper-Right {
  font-size:  large;
  text-align: center;
  width: 20%;
  position: absolute;
  right: 10px;
  margin-right: 2%;
}

.bigTime {
    color: white;
    font-size:  45px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.split-Left {
  width: 50%;
  position: absolute;
  text-align: left;
}

.split-Right {
  text-align: right;
}
